
@{
    ViewBag.Title = "map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 400px;
            width: 100%;
        }
    </style>
    <script src="~/Scripts/map/Accommodation_locations.js" type="text/javascript"></script>
</head>
<body>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script src="~/Scripts/map/map.js" type="text/javascript"></script>

    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4DVL2Q_bKb_TQtYmuFxs2AoZMxUEC0MI&callback=initMap">
    </script>
</body>
</html>