
@{
    ViewBag.Title = "Drinking Faountains";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication2.Models.Org_viewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial0scale=1">
    <link rel="stylesheet" href="~/Content/map.css">

    <script src="~/Scripts/map/addMarkers.js"></script>
    <script src="~/Scripts/map/locating.js" type="text/javascript"></script>
    <script src="~/Scripts/map/init_orgList.js"></script>

    <script>


        var Dflist = @Html.Raw(Json.Encode(Model.Df));

        var df_locations = [];
        init_dfList();
        console.log(Dflist);
        console.log(df_locations);
    </script>


</head>
<body>
    <h3>Drinking Fountains</h3>
    <div class="container-fluid">
        <div class="row">

            
                <button id="locating_bt" type="button" class="btn btn-primary">My Location</button>

            

           

        </div>
    </div>



   
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>



    <div id="dw_map" class="abc"></div>

    <script src="~/Scripts/map/dw_map.js" type="text/javascript"></script>
    <div id="listdiv"></div>
   

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4DVL2Q_bKb_TQtYmuFxs2AoZMxUEC0MI&callback=initMap">
    </script>
</body>
</html>