@model WebApplication2.Models.Org_viewModel


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>


<div class="container">
    <h2>Available Accommodation and Food</h2>

    <table id="org_table" class="display">


        <thead>
            <tr>
                <th>Type</th>
                <th>Name</th>
                <th>Address</th>
                <th>Condition</th>
                <th>Available Time</th>
            </tr>
        </thead>
    </table>



</div>

<script>

    var table = $('#org_table').DataTable({

        "paging": true,
        ajax: {
            url: "/Map/Ajax_SelData",
            data: { str: $("#type_selector").val() }
        },
        "columns": [
            { "data": "Type" },
            { "data": "org_name" },
            { "data": "org_address" },
            { "data": "org_condition" },
            { "data": "available_time" }
        ],
    });
    
</script>

