
@{
    ViewBag.Title = "map";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication2.Models.Org_viewModel

<!DOCTYPE html>
<html>
<head>
    <style>
        #map {
            height: 600px;
            width: 100%;
        }
    </style>
    <script>
        var Aclist = @Html.Raw(Json.Encode(Model.Ac));
        var Fdlist = @Html.Raw(Json.Encode(Model.Fd));
        
        var Dflist = @Html.Raw(Json.Encode(Model.Df));
        var Cllist = @Html.Raw(Json.Encode(Model.Cl));
        var ac_locations = [], fd_locations = [], pt_locations = [], df_locations =[], cl_locations = [];

    </script>
    <script src="~/Scripts/map/addMarkers.js"></script>
    <script src="~/Scripts/map/locating.js" type="text/javascript"></script>
    <script src="~/Scripts/map/init_orgList.js"></script>

</head>
<body>
    <h3>View All Services</h3>
    <div class="container">
        <div class="row">

            <div class="col-sm-6">
                <button id="locating_bt" type="button" class="btn btn-success">My Location</button>

            </div>

            <div class="col-sm-6">
                <select id="type_selector">
                    <option id="0" value="0">Please select</option>
                    <option id="food" value="1">Food</option>
                    <option id="ac" value="2">Accommodation</option>
                    <option id="all" value="3">All</option>
                </select>
            </div>
        </div>
    </div>

    

    <script>
        init_orgList();
        
        document.getElementById("type_selector").onchange = function () {
            
            sel(this.value);
            markers = [];
            console.log("before" + markers.length);
            

            if (this.value == 1) {
                //console.log("food is clicked");
                
                addmarkers(fd_locations, map, infowindowM, markers, 'fd');
            }

            else if (this.value == 2) {
                
                addmarkers(ac_locations, map, infowindowM, markers, 'ac');


            }

           

            else if (this.value == 3) {
                
                addmarkers(ac_locations, map, infowindowM, markers, 'ac');
                addmarkers(fd_locations, map, infowindowM, markers, 'fd');
                
                


            }
            console.log("after" + markers.length);
            //clear markers in the cluster
            markerCluster.clearMarkers();
            //add new markers and redraw the clusters and markers
            markerCluster.addMarkers(markers, true);

        };

        function sel(val) {
            $("#listdiv").load("/Map/ac_list")

            //table.ajax.reload();
            //table.draw();
        }
        $(document).ready(function () {
            $("#listdiv").load("/Map/ac_list")

          

        });
        
        
    </script>
    


    <div id="map"></div>

    <script src="~/Scripts/map/map.js" type="text/javascript"></script>
    
    @*@Html.Partial("~/Views/Map/ac_list.cshtml")*@
    <div id="listdiv" ></div>
    
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script 
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4DVL2Q_bKb_TQtYmuFxs2AoZMxUEC0MI&callback=initMap">
    </script>
</body>
</html>