
@{
    ViewBag.Title = "Food&Accomodation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model WebApplication2.Models.Org_viewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial0scale=1">
    <link rel="stylesheet" href="~/Content/map.css">

    
    <script src="~/Scripts/map/addMarkers.js"></script>
    <script src="~/Scripts/map/locating.js" type="text/javascript"></script>
    <script src="~/Scripts/map/init_orgList.js"></script>

</head>
<body>
    <h3>View All Services</h3>
    <div class="container-fluid">
       
        <div class="row">

            
                <button id="locating_bt" type="button" class="btn btn-primary">My Location</button>           
           
                <span id="search" class="badge badge-success">Search：</span>
            
                <input id="Esearchs" name="Esearchs" onkeyup="selss()" />
                <select id="type_selector">
                    <option id="0" value="0">Type</option>
                    <option id="food" value="1">Food</option>
                    <option id="ac" value="2">Accommodation</option>                   
                    <option id="all" value="3">All</option>
                </select>
                <select id="condition_selector" onchange="sel()">
                    <option id="0" value="0">Condition</option>
                    <option id="free" value="free">free</option>
                    <option id="low price" value="low price">low price</option>
                    <option id="concession card" value="concession card">concession card</option>
                </select>
                <select id="distance_selector" onchange="disSel()">
                    <option id="0" value="0">Distance</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                    <option value="25">25</option>
                </select>
                <select id="date_selector" onchange="sel()">
                    <option id="0" value="0">Available Time</option>
                    <option value="weekday">weekday</option>
                    <option value="weekend">weekend</option>
                </select>

            

        </div>
    </div>

    <script>
        document.getElementById("type_selector").value = @ViewBag.Selection
        
        function sel(val) {
            $.ajax({
                type: "POST",
                url: "/Map/Ajax_SelData",
                data: { cheStr: $("#type_selector").val(), seaStr: $("#Esearchs").val(), conStr: $("#condition_selector").val(), disStr: $("#distance_selector").val(), dateStr: $("#date_selector").val() },
                success: function (result) {
                    
                    markers = [];
                    if (result) {
                        var orglist = get_orgList(result.data);
                        addmarkers(orglist, map, infowindowM, markers);
                        //clear markers in the cluster
                        markerCluster.clearMarkers();
                        //add new markers and redraw the clusters and markers
                        markerCluster.addMarkers(markers);
                    }
                }
            })

            $("#listdiv").load("/Map/ac_list")
        }
        $(document).ready(function () {
            $("#listdiv").load("/Map/ac_list")

        });

        function selss() {
            var datas = { cheStr: $("#type_selector").val(), seaStr: $("#Esearchs").val(), conStr: $("#condition_selector").val(), disStr: $("#distance_selector").val(), dateStr: $("#date_selector").val() }
            $.ajax({
                url: "/Map/Ajax_SelData",
                data: datas,
                type: "POST",
                success: function (data) {                    
                    markers = [];
                    if (data) {
                        var orglist = get_orgList(data.data);
                        addmarkers(orglist, map, infowindowM, markers);
                        //clear markers in the cluster
                        markerCluster.clearMarkers();
                        //add new markers and redraw the clusters and markers
                        markerCluster.addMarkers(markers);
                    }
                }
            });
            $("#listdiv").load("/Map/ac_list");
            //markers = [];
            //addmarkers(all_locations, map, infowindowM, markers);

        }

        function disSel() {
            //var data = { loction: myLocation };
            $.ajax({
                type: "POST",//数据发送的方式（post 或者 get）
                url: "/Map/Ajax_SetMylocation",//要发送的后台地址
                data: { lat: myLocation.lat, lng: myLocation.lng },//要发送的数据（参数）格式为{'val1':"1","val2":"2"}
                dataType: "json",//后台处理后返回的数据格式
                success: function (data) {//ajax请求成功后触发的方法
                    $("#listdiv").load("/Map/ac_list")
                    sel();
                },
                error: function (msg) {//ajax请求失败后触发的方法
                    alert(msg);//弹出错误信息
                }
            });
        }
    </script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>



    <div id="map" class="abc"></div>

    <script src="~/Scripts/map/map.js" type="text/javascript"></script>
    <div id="listdiv"></div>
   

    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD4DVL2Q_bKb_TQtYmuFxs2AoZMxUEC0MI&callback=initMap">
    </script>
</body>
</html>