@model WebApplication2.Models.Org_viewModel
@{
    ViewBag.Title = "Laundry Service";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial0scale=1">
    <link rel="stylesheet" href="~/Content/map.css">

    <script src="~/Scripts/map/addMarkers.js"></script>
    <script src="~/Scripts/map/locating.js"></script>
    <script src="~/Scripts/map/init_orgList.js"></script>


</head>
<body>
    <h3>View all laundry services</h3>
    <div class="container-fluid">
        <div class="row">
            <button id="locating_bt" type="button" class="btn btn-primary">My Location</button>
            Search: <input id="Esearchs" name="Esearchs" onkeyup="selss()" />
            <select id="distance_selector" onchange="disSel()">
                <option id="0" value="0">Distance</option>
                <option value="5">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
                <option value="25">25</option>
            </select>
        </div>
    </div>

    <div class="abc" id="laundry_map"></div>
    <script src="~/Scripts/map/laundry_map.js" type="text/javascript"></script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjRyidiHFOw5ov70Ecu5MAmBxV0itrR3I&callback=initMap"></script>


    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <div id="listdiv"></div>
    <script>

        function sel() {
            $.ajax({
                type: "POST",
                url: "/Laundry/Ajax_SelData",
                data: { seaStr: $("#Esearchs").val(), disStr: $("#distance_selector").val() },
                success: function (result) {                    
                    markers = [];
                    if (result) {
                        var laundryList = get_laundryList(result.data);
                        add_laundries(laundryList, map, infowindowM, markers);
                        //clear markers in the cluster
                        markerCluster.clearMarkers();
                        //add new markers and redraw the clusters and markers
                        markerCluster.addMarkers(markers);
                    }
                }
            })

            $("#listdiv").load("/Laundry/laundry_list")
        }
        $(document).ready(function () {
            $("#listdiv").load("/Laundry/laundry_list")

        });

        function selss() {
            var datas = { seaStr: $("#Esearchs").val(), disStr: $("#distance_selector").val() }
            $.ajax({
                url: "/Laundry/Ajax_SelData",
                data: datas,
                type: "POST",
                success: function (data) {                    
                    markers = [];
                    if (data) {
                        var laundryList = get_laundryList(data.data);
                        add_laundries(laundryList, map, infowindowM, markers);
                        //clear markers in the cluster
                        markerCluster.clearMarkers();
                        //add new markers and redraw the clusters and markers
                        markerCluster.addMarkers(markers);
                    }
                }
            });
            $("#listdiv").load("/Laundry/laundry_list");
            //markers = [];
            //addmarkers(all_locations, map, infowindowM, markers);

        }

        function disSel() {
            //var data = { loction: myLocation };
            $.ajax({
                type: "POST",//数据发送的方式（post 或者 get）
                url: "/Laundry/Ajax_SetMylocation",//要发送的后台地址
                data: { lat: myLocation.lat, lng: myLocation.lng },//要发送的数据（参数）格式为{'val1':"1","val2":"2"}
                dataType: "json",//后台处理后返回的数据格式
                success: function (data) {//ajax请求成功后触发的方法
                    $("#listdiv").load("/Laundry/laundry_list")
                    sel();
                },
                error: function (msg) {//ajax请求失败后触发的方法
                    alert(msg);//弹出错误信息
                }
            });
        }
    </script>
</body>
</html>