@model WebApplication2.Models.Org_viewModel



<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>


<div class="container">
    <h2>Laundry services</h2>

    <table id="laundry_table" class="display">


        <thead>
            <tr>

                <th>Name</th>
                <th>Address</th>
                <th>Available days</th>
                <th>Available time</th>


            </tr>
        </thead>
    </table>



</div>

<script>

    var toilet_table = $('#laundry_table').DataTable({

        "paging": true,
        ajax: {
            url: "/Laundry/Ajax_SelData",
            data: { seaStr: $("#Esearchs").val(), disStr: $("#distance_selector").val() }
        },
        "columns": [
            { "data": "Name" },
            { "data": "Address" },
            { "data": "Avai_days" },
            { "data": "Timings" }
        ],
    });


</script>