body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.one-third {
    width: 33.3%;
    float: left;
    display: inline-block;
    text-align: center;
}

.one-second {
    width: 50%;
    float: left;
    display: inline-block;
    text-align: center;
}

.about-left {
    width: 40%;
    float: left;
    display: inline-block;
    text-align: center;
}

.about-right {
    width: 60%;
    float: left;
    display: inline-block;
    text-align: center;
}

    .about-right img {
        -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
        -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
        box-shadow: 0 0 20px rgba(0,0,0,0.8);
    }

.one-third img:hover {
    -webkit-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 0 20px rgba(0,0,0,0.8);
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.about {
    padding-top: 100px;
    width: 100%;
    float: left;
    display: inline-block;
}

h1, h2, h3, h4, h5, h6, p, a, li {
    font-family: raleway;
}

h1 {
    font-weight: 800;
    font-size: 36px;
}

p {
    font-size: 20px;
}
