.abc {
    margin-top: 1%;
    height: 500px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

h3 {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 10%;
    font-family: "Futura";
}

body {
    position: relative;
    
}

.btn{
    margin-left: 10%
}

.selector{
    margin-left: 35%
}

.display {
    width: 80%;
}

h3{
    margin-top:5%
}

