@{
    ViewBag.Title = "Do You Know";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" contetn="width=device-width, initial-scale=1">

    <title>Do you know</title>
    <style>
        body {
            position: relative;
            font-family: "Futura";
        }

        .bigtitle {
            padding: 2%;
            text-shadow: 3px 2px rgb(0, 0, 0, 0.3);
            font-size: 4em;
            letter-spacing: 8px;
            color: black
        }

        .content {
            font-size: 150%;
            color: rgb(0, 0, 0, 0.64);
        }

        .wrap {
            position: relative;
            background: url(../../images/background.jpg ) no-repeat;
            -webkit-background-size: 100%;
            background-attachment: fixed;
        }

        .inner {
            background: #ff704d;
        }

        .hh {
            color: white;
            padding-bottom: 6%;
            padding-top: 15%;
            font-size: 6em
        }

        .image {
            border: 1px solid #f2f2f2;
            border-radius: 2%;
        }

        body {
            position: relative;
            font-family: "Futura";
        }

       

        a:link {
            text-decoration: none;
            color: none;
        }

        a:active {
            text-decoration: blink;
        }

        a:hover {
            text-decoration: none;
            ;
            color: none;
        }

        a:visited {
            text-decoration: none;
            color: none;
        }

        button:hover {
            transform: scale(1.1);
        }

        span:hover {
            color: #ff704d
        }

    </style>
</head>

<body style="margin-bottom:-2% ; margin-top :-2%">

    <div class="container-fluid">
        <div class="wrap">
            <div class="text-center">
                <h1 class="hh">FEED YOUR SOUL</h1>
                <p style="color:white; padding-bottom: 1%; font-size: 2em">Helping people get access to their basic needs</p>
                <p style="color:#e6e6e6; font-size: 1.5em; padding-bottom: 3%">
                    "We make a living by what we get,
                    <br>But we make a life by what we give."
                </p>

                <div style="padding-bottom: 7%;">
                    <a style="color:white; font-size:1.5em" href="#section1">
                        <button type="button" style="background-color: #ff704d; border-radius: 25px; padding-top: 10px;padding-bottom: 10px;padding-left: 15px;padding-right: 15px; border-color: #ff704d; margin-top: 3%">
                            Do you know?
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section id="section1">
        <div class="container" style="margin-top:5%">
            <div class="text-center">
                <h1 class="bigtitle">FOOD INSECURITY</h1>
                <hr style="border-color:#ff704d; border-width: 3px; width:20%">
                <p class="content" style="padding-bottom: 2%">
                    A situation that exists when people lack secure access to sufficient amounts of safe and nutritious
                    <br> food for normal growth and development and an active and healthy life
                </p>

                <p class="content" style="margin-top:2%">Top 5 Causes of food Insecurity</p>
                <div class="row">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-2">
                        <P style="color:#ff704d; font-size:2em">56%</P>
                        <p class="content">Unexpected expense or large bill</p>
                    </div>
                    <div class="col-sm-2">
                        <P style="color:#ff704d; font-size:2em">48%</P>
                        <p class="content">Just not enough money in the first place</p>
                    </div>
                    <div class="col-sm-2">
                        <P style="color:#ff704d; font-size:2em">38%</P>
                        <p class="content">Had to pay rent/ mortgage payment</p>
                    </div>
                    <div class="col-sm-2">
                        <P style="color:#ff704d; font-size:2em">35%</P>
                        <p class="content">Food too expensive/can't afford to buy enough</p>
                    </div>
                    <div class="col-sm-2">
                        <P style="color:#ff704d; font-size:2em">10%</P>
                        <p class="content">I/my partner got sick or injured and couldn't work</p>
                    </div>
                    <div class="col-sm-1">

                    </div>
                </div>
                <hr>
            </div>

            <div class="text-center" style="margin-top:5%">
                <p class="content">To get through times of food insecurity, people often go without</p>
            </div>

            <div class="row">
                <div class="text-center">
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-5">
                        <P style="color:#ff704d; font-size:2em">45%</P>
                        <p class="content">Many Australians <span>(45%)</span> experiencing food insecurity have skipped a meal</p>
                    </div>
                    <div class="col-sm-5">
                        <P style="color:#ff704d; font-size:2em">28%</P>
                        <p class="content">And <span>28%</span> have gone for an entire day without eating</p>
                    </div>
                    <div class="col-sm-1">

                    </div>
                </div>
            </div>

            <hr>

            <div class="text-center" style="margin-top:5%">
                <p class="content">Stress and depression are common emotions for those without adequate food</p>
            </div>

            <div class="row">
                <div class="text-center">
                    <div class="col-sm-2">
                        <P style="color:#ff704d; font-size:2em">53%</P>
                        <p class="content">Depressed</p>
                    </div>
                    <div class="col-sm-2">
                        <P style="color:#ff704d; font-size:2em">52%</P>
                        <p class="content">Stressed</p>
                    </div>
                    <div class="col-sm-2">
                        <P style="color:#ff704d; font-size:2em">44%</P>
                        <p class="content">Embarrassed</p>
                    </div>
                    <div class="col-sm-2">
                        <P style="color:#ff704d; font-size:2em">44%</P>
                        <p class="content">Sad</p>
                    </div>
                    <div class="col-sm-2">
                        <P style="color:#ff704d; font-size:2em">39%</P>
                        <p class="content">Hopeless</p>
                    </div>
                    <div class="col-sm-2">
                        <P style="color:#ff704d; font-size:2em">38%</P>
                        <p class="content">Ashamed</p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="text-center" style="padding-top: 5%">
                <div class="row">
                    <div class="col-sm-4">
                        <p class="content">The reality is that <span>3.6</span> million Australians <span>(15%)</span> have experienced food insecurity at least once in the last <span>12</span> months.</p>
                        <img style="border-color:white" class="img-rounded img-responsive image" src="../../images/3.6.png" alt="">
                    </div>

                    <div class="col-sm-4">
                        <p class="content">Almost half of food insecure Australians <span>(48%)</span> are employed in some way, whether full-time, part-time or casually.</p>
                        <img style="border-color:white" class="img-rounded img-responsive image" src="../../images/Billorfood.png" alt="">
                    </div>

                    <div class="col-sm-4">
                        <p class="content">Our youngest members of the community are also impacted, as dependent children live in <span>40%</span> of food insecure households</p>
                        <img style="border-color:white" class="img-rounded img-responsive image" src="../../images/2in5.png" alt="">
                    </div>
                </div>
            </div>

            <hr>

            <div style="margin-top: 5%" class="insidecontent text-center">
                <p class="content">Those effected from food insecurity come from all age groups, backgrounds, and circumstances.</p>
            </div>

           <div class="text-center">
               <img style="width: 70%; border-radius: 2%" src="../../images/foodddddd.jpg">
           </div>

            <hr>

            <div class="insidecontent text-center" style="margin-top:5%">
                <p class="content">Despite their efforts, charities are unable to meet the rising need for food relief.</p>
            </div>
            <!--<hr style="border-color:#ff704d; border-width: 3px; width:20%">-->
            <div class=text-center>
                <div class="row">
                    <div class="col-sm-4">
                        <h1 style="color:#ff704d; font-size: 4em">10%</h1>
                        <p class="content">
                            The increase in the number of individuals seeking food relief
                            <br> from charities in the
                            <br>last <span>12</span> months
                        </p>
                    </div>

                    <div class="col-sm-4">
                        <h1 style="color:#ff704d; font-size: 4em">65000</h1>
                        <p class="content">The number of people seeking food relief each month who are unable to be assisted by charities</p>
                    </div>

                    <div class="col-sm-4">
                        <h1 style="color:#ff704d; font-size: 4em">37%</h1>
                        <p class="content">The percentage of charities meeting the full needs of the people they assist</p>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <div class="insidecontent" style="margin-top: 5%">
                    <p style="font-size:180%">Are you willing to do your part?</p>
                </div>
            </div>

        </div>





        <div class="text-center">
            <hr style="border-width:2px; border-color:#ff704d; width:80%">
        </div>




        <!--section 2-->
        <div class="container">
            <h1 class="bigtitle text-center">Homelessness</h1>
            <hr style="border-color:#ff704d; border-width: 3px; width:20%">

            <div class="text-center">
                <p class="content" style="padding-top: 2%; padding-bottom: 3%"><span>22,773</span> people are experiencing homelesness in Victoria <span>(42.6 per 10,000)</span></p>
            </div>


            <div style="margin-top: 5%">
                <div class="row">
                    <div class="col-md-1"></div>

                    <div class="col-md-4">
                        <div class="img-rounded">
                            <div class="img-responsive">
                                <img style="width: 100%; border-radius: 2%" src="../../images/homeless3.jpg" alt="">
                            </div>

                        </div>

                        <p class="content text-center"><i>"1 in 38 Australian children aged 0-4 spent time in a homelessness service"</i></p>
                    </div>

                    <div class="col-md-2"></div>

                    <div class="col-md-4">
                        <div class="img-rounded">
                            <div class="img-responsive">
                                <img style="width: 100%; border-radius: 2%" src="https://feedyoursoul.tk/wp-content/uploads/2018/04/8c435f20117437.56041e227303c.jpg" alt="">
                            </div>

                        </div>


                        <p class="content text-center"><i>"Everyday, more than half the people who request immediate accommodation from homeless services are turned away"</i></p>
                    </div>
                    <div class="col-md-1"></div>
                </div>

               

                    <hr>

                    <div class="text-center" style="margin-top:3%">
                        <p class="content" style="padding-top: 2%; padding-bottom: 3%">Why are they homeless?</p>
                    </div>

                    <div class="text-center">
                        <div class="row">
                            <div class="col-sm-1">

                            </div>
                            <div class="col-sm-2">
                                <P style="color:#ff704d; font-size:2em">22%</P>
                                <p class="content">Financial difficulties</p>
                            </div>
                            <div class="col-sm-2">
                                <P style="color:#ff704d; font-size:2em">29%</P>
                                <p class="content">Accommodation issues</p>
                            </div>
                            <div class="col-sm-2">
                                <P style="color:#ff704d; font-size:2em">33%</P>
                                <p class="content">Domestic violence and relationship issues</p>
                            </div>
                            <div class="col-sm-2">
                                <P style="color:#ff704d; font-size:2em">3%</P>
                                <p class="content">Health reasons</p>
                            </div>
                            <div class="col-sm-2">
                                <P style="color:#ff704d; font-size:2em">14%</P>
                                <p class="content">Other</p>
                            </div>
                            <div class="col-sm-1">

                            </div>
                        </div>
                    </div>

                    <hr>

                    <div class="row" style="margin-top:5%">
                        <div class="col-md-6">
                           
                            <div class="text-center">
                                <p class="content" style="padding-top: 2%; padding-bottom: 3%; color:black">Who are they?</p>
                                <img style="width: 90%; border-radius: 2%" src="../../images/Who.jpg">
                            </div>
                        </div>

                        <div class="col-md-6">
                           
                            <div class="text-center">
                                <p class="content" style="padding-top: 2%; padding-bottom: 3%; color:black">Where do they live?</p>
                                <img style="width: 100%; border-radius: 2%" src="../../images/Where.jpg">
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <div class="insidecontent">
                            <p class="content" style="padding-top:2%; padding-bottom:3%">
                                Addressing homelessness may seem like a political issue, but ensuring everyone feels
                                <br>safe in our society is a basic human right.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>




    </body>

    </html>
