@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    @Html.Action("GetHtmlPage", "FoodInsecurity", new { path = "~/Views/FoodInsecurity/Food_Insecurity.html" });
</div>