
<html>
<head>
    
    
    <title>About Us</title>
</head>
<body>
    <div class="about">
    <div class="about-left">
        <h1>Our Vision</h1>
        <p>We live in an abundant country, but some people still suffer from hunger and homelessness</p>
        <p>
            The beautiful thing in this country is that numerous aid organisations are happy to help people get access tp their basic human rights.
        </p>
        <p>
            Through this website, we aim to create a platform for the people who need help in getting free meals and accommodation services by giving them freedom to choose from the aid organisations on our website.
        </p>
    </div>
    <div class="about-right">
        <img src="../../images/4.png" alt="" width="600px" height="400px">
    </div>
    </div>
    <div class="about">
    <div class="one-third">
        <img src="../../images/1.png" alt="" height=400 width=300>
    </div>
    <div class="one-third" style="border-left: 1px solid #808080; border-right: 1px solid #808080;">
        <img src="../../images/2.png" alt="" height=400 width=300>
    </div>
    <div class="one-third">
        <img src="../../images/3.png" alt="" height=400 width=300>
    </div>
    </div>
</body>
</html>